html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

html,
body {
  width: 100%;
  height: 100%; }

.wrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: relative; }

header {
  width: 100%;
  height: 1.17333rem;
  background: #ccc;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  justify-content: space-around;
  align-items: center; }
  header .left {
    width: 50%; }
    header .left i.icon {
      font-size: 0.4rem; }
  header .right {
    width: 50%; }
    header .right h3 {
      font-size: 0.4rem; }

section {
  width: 100%;
  flex: 1; }
  section .title {
    width: 100%;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    font-size: 0.4rem;
    justify-content: space-around;
    padding: 0.37333rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    section .title .zuo {
      width: 80%; }
      section .title .zuo p {
        font-size: 0.37333rem; }
    section .title .you {
      width: 20%;
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */
      padding: 0.13333rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      section .title .you i.icon {
        font-size: 0.37333rem; }
  section .mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0; }
    section .mask .conent {
      width: 8rem;
      height: 5.33333rem;
      background: #fff;
      position: relative;
      margin-left: 0.8rem;
      margin-top: 4rem;
      border-radius: 0.16rem;
      padding: 0.13333rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      section .mask .conent h3 {
        font-size: 0.37333rem;
        text-align: center; }
      section .mask .conent div {
        font-size: 0.4rem; }
        section .mask .conent div input {
          width: 100%;
          background: #ccc;
          flex: 1;
          text-align: center; }
        section .mask .conent div #reset {
          font-size: 0.4rem;
          margin-left: 1.86667rem;
          cursor: pointer; }
        section .mask .conent div #save {
          font-size: 0.4rem;
          margin-left: 1.86667rem;
          cursor: pointer; }
